# Django
__pycache__/
*.log
*.txt
!requirements.txt
*.pot
*.pyc
__pycache

# environment
.env*
env
.vscode/
venv/

# pytest
.pytest_cache/

# Visual Studio
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history

# logging
logs/

# scanners
.sonar_lock
report-task.txt
pylint.txt
bandit_report.json
.coverage
coverage.*
.scannerwork
.scannerwork/*
